<h1>Pages#answer</h1>
<!-- <p>Find me in app/views/pages/answer.html.erb</p> -->
<%= @question %>
<p>coach says <%= @coach %></p>

<%= link_to "Ask a new question", ask_path %>

<br>
<p> Your are here: App > Views > Questions > 'answer.html.erb' </p>



