<h1>Stupid Coaching</h1>
<h2>Ask your coach anything</h2>
<br>



<form action="answer">
  <input type="text" name="question" placeholder="Ask your coach anything">
  <input type="submit" value="Ask!">
</form>


<br>
<p> Your are here: App > Views > Questions > 'ask.html.erb' </p>
